<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>
<p>Rating: <%= @restaurant.rating %>/5</p>
<% @reviews.each do |r| %>
  <div class="review">
    <p>Rated <%= r.rating %>/5</p>
    <p><%= r.comments %></p>
    <p>At <%= r.created_at %></p>
  </div>
<% end %>
<%= link_to 'Edit', edit_restaurant_url(@restaurant.id) %>
<%= link_to 'Delete', restaurant_url(@restaurant), method: :delete %>
<%= link_to 'Review', new_restaurant_review_path(@restaurant.id) %>