<h1> <%= @restaurant.name %> </h1>
<h3> Description </h3>
<p> <%= @restaurant.description %> </p>
<h3> Reviews </h3>
<h4> Overall rating: <%= @average_score_rounded %>/5</h4>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.thoughts %></br>
      Rating: <%= review.rating %>/5
    </li>
  <% end %>
</ul>
